:root {
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --WHITE: #FFFFFF;
    
}

body {
    font-family: "Roboto", sans-serif;
     color: var(--NAVY-BLUE);
    }

.logo {
    text-decoration: none;
    color: var(--NAVY-BLUE);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
}
.logo span {
    color: var(--IRIS);
}
.logo:hover {
    color: var(--IRIS);
}
.logo span:hover {
    color:var(--NAVY-BLUE);
}
.logo:focus {
    color: var(--IRIS);
}
.logo span:focus{
    color: var(--NAVY-BLUE);
}
.main-header-container {
    line-height: 1.5;
}
.menu-main {
    list-style-type: none;
    padding-left: 0%;
    line-height: 1.5;
    margin-bottom: -1%;
    font-size: 16px;
    font-weight: 500;
}
a.menu1 {
    color: var(--NAVY-BLUE);
    text-decoration: none;

}
a.menu1:hover {
    color: var(--IRIS)
}
a.menu1:focus {
    color: var(--IRIS)
}
a.menu2 {
    color: var(--NAVY-BLUE);
    text-decoration: none;
}
a.menu2:hover {
    color: var(--IRIS);
}
a.menu2:focus {
    color: var(--IRIS);
}
a.menu3 {
    color: var(--NAVY-BLUE);
    text-decoration: none;
}
a.menu3:hover {
    color: var(--IRIS);
}
a.menu3:focus {
    color: var(--IRIS);
}
.menu-contact {
    list-style-type: none;
    padding-left: 0%;
    line-height: 1.5;
       
}
a.contact1 {
    color: var(--NAVY-BLUE);
    text-decoration: none;
}
a.contact1:hover {
    color: var(--IRIS);
}
a.contact1:focus {
    color: var(--IRIS);
}
a.contact2 {
    color: var(--NAVY-BLUE);
    text-decoration: none;
}
a.contact2:hover {
    color: var(--IRIS);
}
a.contact2:focus {
    color: var(--IRIS);
}
main.main-section .section1 {
    background-color: var(--NAVY-BLUE);
    color: var(--WHITE);
}
main.main-section .section1 .section1-header {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
}
main.main-section .section1 .section1-button {
  background-color: var(--IRIS);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: var(--WHITE);
  font-size: 16px;
  border: none;
  border-radius: 4px;
  }
  main.main-section .section1 .section1-button:hover {
      background-color: var(--WHITE);
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      color: var(--IRIS);
      font-size: 16px;
      border: none;
      border-radius: 4px;
  }
main.main-section .section1 .section1-button:focus {
    background-color: var(--WHITE);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(--IRIS);
    font-size: 16px;
    border: none;
    border-radius: 4px;
}
main.main-section .section2 .section2-list {
    list-style-type: none;
    padding-left: 0%;
}
.section2-list2 {
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
  }   
.section2-img {
    list-style-type: none;
    padding-left: 0%;

}
main.main-section .section3 .section3-team {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
}
.section3-teamlist {
    list-style-type: none;
    padding-left: 0%;
}

.footer-logo {
    text-decoration: none;
    color: var(--WHITE);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
}
.footer-logo span {
    color: var(--IRIS);
}
.footer-logo:hover {
    color:var(--IRIS) ;
}
.footer-logo span:hover {
    color: var(--WHITE);
}
.footer-logo:focus {
    color: var(--IRIS);
}
.footer-logo span:focus {
    color: var(--WHITE);
}
.footer {
    background-color: var(--NAVY-BLUE);
}
.footer-details {
    color: var(--WHITE);
}


